.bag-part {
  max-width: 1100px;
  margin: 20px auto 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  .order-list {
    padding: 20px 30px;
    background-color: white;
    font-size: 18px;

    h2 {
      padding-bottom: 20px;
      border-bottom: dotted 3px #f2f2f3;
    }

    .order-list-card {
      display: grid;
      grid-template-columns: 150px 2fr 1fr;
      gap: 30px 50px;
      border-bottom: 1px solid gray;
      padding-block: 20px;
      align-items: center;
      justify-self: center;

      img {
        width: 100%;
      }

      .order-list-card-middle {
        font-size: 20px;
      }

      .order-list-card-end {
        .order-control {
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            height: 40px;
            width: 40px;
            border: solid 1px #f2f2f3;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            cursor: pointer;
            background-color: transparent;
            overflow: hidden;
            font-size: 1.5rem;
            transition: 1s;

            &:hover {
              background-color: aqua;
            }
          }

          span {
            font-size: 14px;
          }
        }

        .delete-item {
          text-align: center;
          margin-top: 10px;

          button {
            background-color: #0080ffb6;
            padding: 10px 0px;
            width: 100%;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            transition: 1s;
            &:hover {
              background-color: #007fff;
            }
          }
        }
      }
    }
  }

  .payment-summary {
    padding: 20px 30px;
    background-color:  white;
    font-size: 18px;

    h2 {
      padding-bottom: 20px;
      border-bottom: dotted 3px #f2f2f3;
    }

    .payment-flex {
      display: flex;
      justify-content: space-between;
      padding-block: 1rem;

      span:nth-child(2) {
        color: #0080ffb6;
      }
    }
  }
}
